/*-------------------------------- */
/*---------- Reset Styles -------- */
/*-------------------------------- */
/* line 65, ../sass/style.sass */
html, body {
  padding: 0;
  margin: 0;
}

/* line 73, ../sass/style.sass */
body {
  line-height: 1;
}

/* line 79, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------- */
/*------------ Layout ------------ */
/*-------------------------------- */
/* line 93, ../sass/style.sass */
#page {
  *zoom: 1;
  max-width: 926px;
  _width: 926px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 38, ../../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}

/*-------------------------------- */
/*---- Fonts, Micro-Elements ----- */
/*-------------------------------- */
/* line 105, ../sass/style.sass */
body {
  font: 12px/1.5 verdana, arial, helvetica, sans-serif;
  color: #555555;
}

/* line 113, ../sass/style.sass */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "PTSansNarrowRegular", "trebuchet ms", arial, helvetica, sans-serif;
  color: #ea9c44;
}

/* line 123, ../sass/style.sass */
h1 {
  font-size: 2.3em;
}

/* line 129, ../sass/style.sass */
h2 {
  font-size: 1.9em;
}
