/*-------------------------------- */
/*---------- Reset Styles -------- */
/*-------------------------------- */
/* line 37, ../sass/style.sass */
html, body {
  padding: 0;
  margin: 0;
}

/* line 41, ../sass/style.sass */
body {
  line-height: 1;
  letter-spacing: 0.01em;
}

/* line 45, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------- */
/*------------ Layout ------------ */
/*-------------------------------- */
/* line 52, ../sass/style.sass */
#page {
  *zoom: 1;
  max-width: 926px;
  _width: 926px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 38, ../../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../sass/style.sass */
#header {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 59, ../sass/style.sass */
#site-name {
  font-family: "PTSansNarrowRegular", "trebuchet ms", arial, helvetica, sans-serif;
  font-size: 3em;
  float: left;
  margin-right: 18px;
}
/* line 64, ../sass/style.sass */
#site-name a {
  color: #aaaaaa;
}

/* line 67, ../sass/style.sass */
a#logo {
  float: left;
  padding-top: 7px;
}
/* line 70, ../sass/style.sass */
a#logo img {
  width: 52px;
}

/* line 73, ../sass/style.sass */
#site-slogan {
  float: right;
  width: 25%;
  margin-top: 10px;
}

/*-------------------------------- */
/*---- Fonts, Micro-Elements ----- */
/*-------------------------------- */
/* line 81, ../sass/style.sass */
body {
  font: 13px/1.5 "OpenSansRegular", verdana, arial, helvetica, sans-serif;
  color: #555555;
}

/* line 85, ../sass/style.sass */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "PTSansNarrowRegular", "trebuchet ms", arial, helvetica, sans-serif;
  color: #ea9c44;
}

/* line 90, ../sass/style.sass */
h1 {
  font-size: 2.2em;
}

/* line 93, ../sass/style.sass */
h2 {
  font-size: 1.8em;
}

/*Links, Taxonomy etc */
/* line 97, ../sass/style.sass */
a {
  color: #4882b5;
  text-decoration: none;
}
/* line 100, ../sass/style.sass */
a:hover, a:active {
  text-decoration: underline;
}
