@import "susy"
@import "compass/css3"
// IE Compatibility

$legacy-support-for-ie: true

$total-columns  : 12             
$column-width   : 68px           
$gutter-width   : 10px           
$grid-padding   : 25px

// Colors

$body-base-font-color: #555
$headline-color: #EA9C44
$secondary-color: #4882B5
$middle-grey: #aaa
$light-orange: #FFECD8

// Font Properties
$font-size-base: 13px
$font-size-plus-one: 1.1em
$font-size-plus-two: 1.2em
$font-letter-spacing-base: 0.01em
$font-size-h1: 2.2em
$font-size-h2: 1.8em
$line-height-base: 1.5

$font-family-copy: "OpenSansRegular",verdana, arial, helvetica, sans-serif
$font-family-headlines: "PTSansNarrowRegular","trebuchet ms", arial, helvetica, sans-serif
$font-family-light: "PTSansNarrowRegular","trebuchet ms", arial, helvetica, sans-serif

$font-base-properties: #{$font-size-base}/#{$line-height-base} $font-family-copy 

// Start CSS

/*--------------------------------*/
/*---------- Reset Styles --------*/
/*--------------------------------*/
html, body
  padding: 0 
  margin: 0
 
body
  line-height: 1
  letter-spacing: $font-letter-spacing-base

table
  border-collapse: collapse
  border-spacing: 0

/*--------------------------------*/
/*------------ Layout ------------*/
/*--------------------------------*/
#page 
  +container

#header 
  padding-top: 20px
  margin-bottom: 20px

#name-and-slogan
  float: left
  width: 335px

#site-name
  font-family: $font-family-headlines
  font-size: 3em
  font-weight: normal!important 
  float: left
  margin-right: 18px
  a
    color: $middle-grey

a#logo
  float: left
  padding-top: 7px
  img
    width: 52px

#site-slogan 
  float: right
  width: 25%
  margin-top: 10px
  text-align: right

#header
  .block-superfish
    float: right
    padding-top: 25px
    ul 
      li
        margin: 0 9px 
        &.last
          margin-right: 0
        &.first
          margin-left: 0
        a 
          text-transform: uppercase
          color: #333
          font-size: $font-size-plus-one
      ul
        background: white
        border: 1px solid #c5c5c5
        top: 25px
        left: -8px
        padding: 0
        li
          padding: 0
          margin: 0
          border-bottom: 1px solid #c5c5c5
          &.last 
            border: none
          a
            padding: 7px 8px
            background: $light-orange
            &:hover
              text-decoration: none

  

/*--------------------------------*/
/*---- Fonts, Micro-Elements -----*/
/*--------------------------------*/
body
  font: $font-base-properties
  color: $body-base-font-color

h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
  font-family: $font-family-headlines
  color: $headline-color
  font-weight: normal
  line-height: 1.2
  margin: 0.5em 0

h1
  font-size: $font-size-h1

h2 
  font-size: $font-size-h2

/** Links, Taxonomy etc **/
a
  color: $secondary-color
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

/*--------------------------------*/
/*Nodeblocks, Topic Overview Pages*/
/*--------------------------------*/

.block-nodeblock 
  float: left
  width: 46%
  margin-right: 4%
  overflow: hidden
  &.one-fourth
    width: 21%  
  &.one-third
    width: 29%


#content-bottom-upper,
#content-bottom-lower
  margin-right: -4%
  



